fieldset.score{
	margin:10px;
	padding:10px;
	border:solid 5px #ccc;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	color:#c0000a;
}
legend.thenumber{
	font-size:50px;
	font-weight:800;
	margin-left:20px;
}
div.theuser{
	float:left;
	padding:5px;
	margin:10px;
	font-size:35px;
	font-weight:700;
	color:#353535;
}
div.thescore{
	float:right;
	padding:5px;
	margin:10px;
	font-size:35px;
	color:#0da4e5;
}